#upperHalf {
  text-align: center; 
  align-content: center;
}

h4 {
   font-family: 'Poor Story', cursive;
   font-size: 2.25em;
}

#upperHalf button {
   color: #999;
}

#lowerHalf button {
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#name {
   margin: 0 auto;
}

#nameInput {
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   border-radius: 50px;
}

::-webkit-input-placeholder {
   text-align: center;
}

p {
   text-decoration: none;
}

// copy under here

.catIcon {
   padding-top: .5em;
   padding-bottom: .5em;
   font-size: 5em;
}

.catIconButton {
   text-decoration: none;
   //border: 3px solid black;
   border-radius: 25px;
   background:  #e98c01;
   margin-top: 3em;
   height: 15em;
   width: 15em;
   margin-left: auto !important;
   margin-right: auto !important;
}

.catBtnDiv {
   //padding-left: 1.5em;
   //padding-right: 1.5em;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hvr-grow-rotate {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
   -webkit-transform: scale(1.1) rotate(4deg);
   transform: scale(1.1) rotate(4deg);
}

.hvr-fade {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   overflow: hidden;
   -webkit-transition-duration: 0.5s;
   transition-duration: 0.5s;
   -webkit-transition-property: color, background-color;
   transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
   background-color: #DB363C;
   color: white;
}

.join-private-label {
   text-shadow: 1px 3px 2px rgba(0,0,0,0.3);
   color: white;
 }

 .categorie-box-label {
   text-shadow: 1px 3px 2px rgba(0,0,0,0.3);
   color: white;
   text-align: center;
   margin-bottom: 15px;
 }
 
 .join-private-input {
   width: 250px;
   margin-right: 10px;
   margin-left: auto;
   display: inline;
 }

 .join-private-button {
   display: inline;
   margin-right: auto;
   margin-left: auto;
 }

 .categorie-box-label {
   text-shadow: 1px 3px 2px rgba(0,0,0,0.3);
   color: white;
   text-align: center;
   margin-bottom: 15px;
 }
