<div class="container-fluid">
  <br>
  <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" [style]="progress" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <br>

  <div class="row">
      <div class="col-md-9">
          <div class="container-fluid">
            <div class="row">
              <div class="jumbotron">
                  <div class="container">
                      <h2 class="display-6"><b>Question {{currentQuestionNumber}} of {{totalQuestions}}</b></h2>
                      <h4>{{question}}</h4>
                  </div>
              </div>
            </div>
            <!-- ngIf multiple choice -->
            <div *ngIf="isMultipleChoice">
              <div class="row">
                  <div class="col-md-6">
                      <button [disabled]="didAnswer" type="button" (click)="checkAnswer(0)" class="answer-button btn btn-primary btn-lg btn-block">A. {{answers[0]}}</button>
                  </div>
                  <div class="col-md-6">
                      <button [disabled]="didAnswer" type="button" (click)="checkAnswer(1)" class="answer-button btn btn-primary btn-lg btn-block">B. {{answers[1]}}</button>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-6">
                      <button [disabled]="didAnswer" type="button" (click)="checkAnswer(2)" class="answer-button btn btn-primary btn-lg btn-block">C. {{answers[2]}}</button>
                  </div>
                  <div class="col-md-6">
                      <button [disabled]="didAnswer" type="button" (click)="checkAnswer(3)" class="answer-button btn btn-primary btn-lg btn-block">D. {{answers[3]}}</button>
                  </div>
              </div>
            </div>
            <!-- ngIf true/false -->
            <div *ngIf="!isMultipleChoice">
                    <div class="row">
                        <div class="col-md-6">
                            <button [disabled]="didAnswer" type="button" (click)="checkAnswer(0)" class="answer-button btn btn-primary btn-lg btn-block">A. {{answers[0]}}</button>
                        </div>
                        <div class="col-md-6">
                            <button [disabled]="didAnswer" type="button" (click)="checkAnswer(1)" class="answer-button btn btn-primary btn-lg btn-block">B. {{answers[1]}}</button>
                        </div>
                    </div>
                  </div>

              <hr>

              <div id = "displayMsg" *ngIf="didAnswer">{{displayMsg}}</div>

          </div>
      </div>


      <div class="col-md-3" style="text-align: center">
        <div class = "container-fluid">
            <div class = "row">
                <div class="col-md-6">
                    <div class="panel panel-info" style="width: 120px">
                        <div class="panel-heading">
                            <h3 class="panel-title"></h3><h4><b>Answers</b></h4>
                        </div>
                        <div style="height: 50px">
                            <div class="panel-body"><h3 style="margin-top: 0px"><b>{{currentAnswers}} / {{players}}</b></h3></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success" style="width: 120px">
                        <div class="panel-heading">
                            <h3 class="panel-title"></h3><h4><b>Timer</b></h4>
                        </div>
                        <div style="height: 50px">
                            <div class="panel-body"><h3 style="margin-top: 0px"><b>{{currentTime}}</b></h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="chatcontainer" style = "margin-left: auto; margin-right: auto; float: right;">
    <div class="panel panel-primary">
        <div class="panel-heading" id="accordion" style="background: #e98c01;">
            <span class="glyphicon glyphicon-comment"></span> Chat
            <div class="btn-group pull-right">
                <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </div>
        </div>
    <div class="panel-collapse collapse" id="collapseOne">
        <div class="panel-body panel-body-extra">
            <ul class="chat">
                <ng-template ngFor let-chat [ngForOf]="chats">
                    <li *ngIf="chat.id !== userId" class="right clearfix">
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted">
                                    <span class="glyphicon glyphicon-time"></span>
                                    {{chat.time}}
                                </small>
                            </div>
                            <p>
                                <strong>{{chat.username}}</strong>: {{chat.message}}
                            </p>
                        </div>
                    </li>
                    <li *ngIf="chat.id === userId" class="left clearfix">
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted">
                                    <span class="glyphicon glyphicon-time"></span>
                                    {{chat.time}}
                                </small>
                            </div>
                            <p>
                                <strong>You</strong>: {{chat.message}}
                            </p>
                        </div>
                    </li>
                </ng-template>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="message_input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessage()" >
                        Send</button>
                </span>
            </div>
        </div>
    </div>
    </div>
</div>